#input1, #input2 {
  width: 99%;
  margin: 5px;
  min-height: 25px;
  text-align: right;
  border: 1px solid black;
  margin-bottom: 3px;
}
button {
  padding: 3px 3px 3px 3px !important;
  background-color: #F2F2F2;
  border: 0.5px solid #bdbdbd;
  font-size: 11px;
  font-weight: bold;
  margin: 1px;
  margin-bottom: 3px;
  width: 45px !important;
}
.back {
  width: 96px !important;
  text-align: center;
}
#zero {
  width: 98px !important;
  text-align: center;      
}
.over {
  width: 563px;
}

p {
  padding-left: 5px;
}
